* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.top_green {
    background-color: #009688;
    height: 130px;
}

.back_gray {
    background-color: #D7DBD6;
    height: calc(100vh - 130px);
}

.container {
    position: absolute;
    background-color: white;
    top: 30px;
    left: 350px;
    width: 1420px;
    z-index: 10;
}

.user_navbar {
    height: 100px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.myInfo, .user, .selected_chat {
    display: flex;
    align-items: center;
    height: 100px;
}

.myInfo, .selected_chat {
    justify-content: space-between;
}

.myInfo {
    border-right: 1px #B1B1B1 solid;
    width: 30%;
}

.avatar {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.avatar__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.username p {
    font-size: 20px;
}

.icon {
    color: #B1B1B1;
    font-size: 25px;
    margin-right: 1rem;
}

.icon i {
    margin: 0rem 0.3rem;
}

.selected_chat {
    width: 65%;
}

aside {
    width: 30%;
    border-right: 1px #B1B1B1 solid;
}

.notify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #8EDAFC;
    padding: 1rem 0rem;
}

.icon_bell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: white;
}

.bell {
    color: #8EDAFC;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 10px #EAEAEA solid;
}

.search i {
    width: 10%;
    font-size: medium;
    margin-left: 1rem;
}

.search input {
    width: 90%;
    height: 100%;
    border: none;
}

.chat_list {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.chat {
    width: 100%;
    border-bottom: 1px #eaeaea solid;
}